/**** Global ****/

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto",sans-serif;
    color: #000
}

a,a:hover {
    text-decoration: none;
    color: #2943e5
}

a:hover {
    text-decoration: underline
}

.white-text {
    color: #fff
}

.white-bg {
    background-color: #fff
}

.navy-800-bg {
    background-color: #040138
}

.grey-100-bg {
    background-color: #f2f2f2
}

.container {
    padding: 0 3rem
}

.flex {
    display: flex
}

.flex-ai-c {
    align-items: center
}

.flex-jc-c {
    justify-content: center
}

.flex-jc-sb {
    justify-content: space-between
}

.flex-jc-e {
    justify-content: end
}

.text-medium {
    font-weight: 500
}

.text-bold {
    font-weight: 700
}

.text-align-right {
    text-align: right
}

.text-align-center {
    text-align: center
}

.single-line-clamp {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.button {
    border-radius: 8px;
    cursor: pointer;
    padding: 0 1rem;
    min-width: 6rem;
    height: 2.5rem
}

.button svg {
    width: 1.25rem;
    height: 1.25rem;
    padding-right: .5rem
}

.primary-button,.secondary-button {
    background-color: #040138;
    border: solid 1px #040138;
    color: #fff;
    font-weight: 500
}

.primary-button:hover {
    background-color: #3d3a6c;
    border: solid 1px #3d3a6c;
    color: #fff;
    text-decoration: none
}

.secondary-button {
    background-color: #fff;
    color: #040138
}

.secondary-button:hover {
    border: solid 1px #040138;
    background-color: #f2f2f2;
    color: #040138;
    text-decoration: none
}

.tertiary-button {
    color: #040138
}

.order-button:hover,.tertiary-button:hover {
    color: #040138;
    background-color: #eaeaea;
    text-decoration: none
}

.standard-table {
    border-radius: 1rem;
    box-shadow: 0 1px 2px #171e3126;
    padding: 1.5rem 0 0;
    overflow: scroll
}

.standard-table-header {
    padding: 0 1.5rem 1rem
}

.standard-table-top {
    box-shadow: 0 4px 2px -2px #171e3126
}

.standard-table-top-pagination>span {
    display: contents
}

.standard-table-content {
    display: grid;
    padding: .5rem 1.5rem;
    grid-template-columns: .5fr 5fr 1fr 1.5fr 1fr 1fr;
    grid-column-gap: 2rem;
    text-transform: capitalize;
    min-width: 70rem
}

.order-button {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: .25rem;
    cursor: pointer;
    color: #000
}

.order-button:hover {
    background-color: #f2f2f2;
    color: #000
}

.pagination-button,.pagination-input {
    width: 2.5rem;
    height: 2.5rem;
    border: solid 1px #898989;
    border-radius: .5rem;
    padding: 0;
    font-size: 1rem;
    color: #000
}

.pagination-button:hover {
    background-color: #f2f2f2;
    border: solid 1px #898989;
    color: #000
}

.pagination-inactive,.pagination-inactive:hover {
    background-color: #f2f2f2;
    border: solid 1px #d5d5d5;
    color: #898989;
    cursor: default
}

.inner-pagination-button,.pagination-input {
    margin: 0 .5rem
}

.pagination-button svg {
    width: 1.5rem
}

.standard-table-footer {
    border-top: solid 1px #f2f2f2;
    padding: 1.5rem
}

@media only screen and (min-width:1440px) {
    .xl-hide {
        display: none
    }
}

@media only screen and (min-width:1240px) and (max-width:1439px) {
    .container {
        padding: 0 2.5rem
    }

    .l-hide {
        display: none
    }
}

@media only screen and (min-width:905px) and (max-width:1239px) {
    .container {
        padding: 0 2.25rem
    }

    .m-hide {
        display: none
    }
}

@media only screen and (min-width:905px) {
    .m-down-only {
        display: none
    }
}

@media only screen and (min-width:600px) and (max-width:904px) {
    .container {
        padding: 0 2rem
    }

    .s-hide {
        display: none
    }

    .s-flex-column {
        flex-direction: column
    }

    .s-flex-wrap {
        flex-wrap: wrap
    }

    .s-flex-jc-fs {
        justify-content: flex-start
    }

    .s-flex-jc-c {
        justify-content: center;
    }
}

@media only screen and (max-width:599px) {
    .container {
        padding: 0 1rem
    }

    .xs-hide {
        display: none
    }

    .xs-flex-column {
        flex-direction: column
    }

    .xs-flex-wrap {
        flex-wrap: wrap
    }

    .xs-flex-jc-fs {
        justify-content: flex-start
    }

    .xs-flex-jc-c {
        justify-content: center;
    }
}

@media only screen and (min-width:599px) {
    .xs-only {
        display: none
    }
}

/**** Global ****/

/**** Header ****/

.header-top {
    height: 4rem;
}

.logo {
    width: 4.5rem;
    border-right: solid 1px #898989;
    padding-right: 1rem;
    line-height: 0;
}

.sub-menu-button {
    color: #171E31;
    font-size: 1.25rem;
    padding: 0 1.25rem 0 2.25rem;
}

.sub-menu-chevron {
    width: 1rem;
    padding: 0 .5rem;
}

nav {
    height: 100%;
}

.nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4px;
    color: #000000;
    border-bottom: solid 4px #FFFFFF;
}

.nav-link.active,
.nav-link:hover {
    color: #000000;
    border-color: #029FB4;
    text-decoration: none;
}

.sub-menu-button-link,
.sub-menu-button-link:hover {
    color: #171E31;
    text-decoration: none;
}

.header-user-name {
    margin-right: 1.5rem;
}

.header-user-card {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #D5D5D5;
    color: #171E31;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    border: solid 1px #D5D5D5;
}

.user-card-count {
    border-radius: 100%;
    border: solid 2px #FFFFFF;
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 1.75rem;
    left: 1.75rem;
    font-size: 0.625rem;
    font-weight: normal;
}

.header-bottom {
    height: 3rem;
}

.sub-nav-link {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 4px;
    border-bottom: solid 4px #040138;
}

.sub-nav-link.active,
.sub-nav-link:hover {
    border-color: #029FB4;
    color: #fff;
    text-decoration: none;
}

.mobile-menu-button {
    height: 2rem;
    width: 2rem;
    border-radius: 8px;
    border: solid 1px #FFFFFF;
    color: #040138;
}

@media only screen and (max-width: 905px) {
    .logo {
        border: 0;
        padding: 0;
    }
}

/**** Header ****/

/**** Footer ***/
footer {
    height: 5rem;
    margin-top: 3rem;
}

.footer-logo svg {
    height: 2rem;
}

.footer-content {
    height: 100%;
}

.footer-link {
    font-size: .875rem;
    color: #646464;
    padding: 0 1rem;
}

.footer-link:hover {
    color: #646464;
    text-decoration: underline;
}

.footer-copyright {
    font-size: .75rem;
}

@media only screen and (max-width: 900px) {

    footer {
        height: auto;
        padding: 1rem 0;
    }

    .footer-links {
        padding: 1rem 0;
    }

    .footer-link {
        padding: .5rem 0;
        width: 50%;
        text-align: center;
    }

}
/**** Footer ***/

/**** Body ****/

.main-title {
    font-size: 1.75rem;
}

.content-top {
    padding: 1.5rem 0;
}

.top-content-options .primary-button {
    margin-left: .5rem;
    border: 0;
}

.image-placeholder {
    width: 2.5rem;
    height: 2.5rem;
    border: solid 1px #707070;
}

/**** Body ****/