/**** Global ****/

body {
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: "Roboto",sans-serif;
    color: #000
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

a,
a:hover {
    text-decoration: none;
    color: #2943e5
}

a:hover {
    text-decoration: underline
}

.white-text {
    color: #fff
}

.white-bg {
    background-color: #fff
}

.navy-800-bg {
    background-color: #040138
}

.container {
    padding: 0 3rem
}

.flex {
    display: flex
}

.flex-ai-c {
    align-items: center
}

.flex-jc-c {
    justify-content: center
}

.flex-jc-sb {
    justify-content: space-between
}

.flex-jc-e {
    justify-content: end
}

.text-medium {
    font-weight: 500
}

.text-bold {
    font-weight: 700
}

.text-align-right {
    text-align: right
}

.text-align-center {
    text-align: center
}

.single-line-clamp {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.button {
    border-radius: 8px;
    cursor: pointer;
    padding: 0 1rem;
    height: 2.5rem
}

.button svg {
    width: 1.25rem;
    height: 1.25rem;
    padding-right: .5rem
}

.primary-button,
.secondary-button {
    background-color: #040138;
    border: solid 1px #040138;
    color: #fff;
    font-weight: 500
}

.primary-button:hover {
    background-color: #3d3a6c;
    border: solid 1px #3d3a6c;
    color: #fff;
    text-decoration: none
}

.secondary-button {
    background-color: #fff;
    color: #040138
}

.secondary-button:hover {
    border: solid 1px #040138;
    background-color: #f2f2f2;
    color: #040138;
    text-decoration: none
}

.tertiary-button {
    color: #040138
}

.order-button:hover,
.tertiary-button:hover {
    color: #040138;
    background-color: #eaeaea;
    text-decoration: none
}

.order-button {
    height: 1.25rem;
    width: 1.25rem;
    border-radius: .25rem;
    cursor: pointer;
    color: #000
}

.order-button:hover {
    background-color: #f2f2f2;
    color: #000
}

.pagination-button,
.pagination-input {
    width: 2.5rem;
    height: 2.5rem;
    border: solid 1px #898989;
    border-radius: .5rem;
    padding: 0;
    font-size: 1rem;
    color: #000
}

.pagination-button:hover {
    background-color: #f2f2f2;
    border: solid 1px #898989;
    color: #000
}

.pagination-inactive,
.pagination-inactive:hover {
    background-color: #f2f2f2;
    border: solid 1px #d5d5d5;
    color: #898989;
    cursor: default
}

.inner-pagination-button,
.pagination-input {
    margin: 0 .5rem
}

.pagination-button svg {
    width: 1.5rem
}


@media only screen and (min-width:1240px) and (max-width:1439px) {
    .container {
        padding: 0 2.5rem
    }
}

@media only screen and (min-width:905px) and (max-width:1239px) {
    .container {
        padding: 0 2.25rem
    }
}

@media only screen and (min-width:600px) and (max-width:904px) {
    .container {
        padding: 0 2rem
    }

    .s-flex-column {
        flex-direction: column
    }

    .s-flex-wrap {
        flex-wrap: wrap
    }

    .s-flex-jc-fs {
        justify-content: flex-start
    }

    .s-flex-jc-c {
        justify-content: center;
    }
    .s-flex-column-reverse {
        flex-direction: column-reverse;
    }
    .s-absolute {
        position: absolute;
    }
}

@media only screen and (max-width:599px) {
    .container {
        padding: 0 1rem
    }

    .xs-flex-column {
        flex-direction: column
    }

    .xs-flex-column-reverse {
        flex-direction: column-reverse;
    }

    .xs-flex-wrap {
        flex-wrap: wrap
    }

    .xs-flex-jc-fs {
        justify-content: flex-start
    }

    .xs-flex-jc-c {
        justify-content: center;
    }
    .xs-absolute {
        position: absolute;
    }
}

/**** Global ****/

/**** Header ****/

.header-top {
    height: 4rem;
}

.logo {
    width: 4.5rem;
    border-right: solid 1px #898989;
    padding-right: 1rem;
    line-height: 0;
}

.sub-menu-button {
    color: #171E31;
    font-size: 1.25rem;
    padding: 0 1.25rem 0 2.25rem;
}

.sub-menu-chevron {
    width: 1rem;
    padding: 0 .5rem;
}

nav {
    height: 100%;
}

.nav-link {
    border-bottom: solid 4px #FFFFFF;
}

.nav-link.active,
.nav-link:hover {
    border-color: #029FB4;
}

.main-nav-link,
.main-nav-link:hover {
    height: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    color: #000000;
    text-decoration: none;
}

.sub-menu-button-link,
.sub-menu-button-link:hover {
    color: #171E31;
    text-decoration: none;
}

.header-user-name {
    margin-right: 1.5rem;
}

.header-user-card {
    height: 2.5rem;
    width: 2.5rem;
    background-color: #D5D5D5;
    color: #171E31;
    position: relative;
    border-radius: 8px;
    cursor: pointer;
    border: solid 1px #D5D5D5;
}

.user-card-count {
    border-radius: 100%;
    border: solid 2px #FFFFFF;
    width: 1rem;
    height: 1rem;
    position: absolute;
    bottom: 1.75rem;
    left: 1.75rem;
    font-size: 0.625rem;
    font-weight: normal;
}

.header-bottom {
    height: 3rem;
}

.sub-nav-li {
    border-bottom: solid 4px #040138;
}

.sub-nav-li.active,
.sub-nav-li:hover {
    border-color: #029FB4;
    color: #fff;
    text-decoration: none;
}

.sub-nav-link,
.sub-nav-link:hover {
    padding: 0 1rem;
    height: 100%;
    color: #FFFFFF;
    text-decoration: none;
}

.mobile-menu-button {
    height: 2rem;
    width: 2rem;
    border-radius: 8px;
    border: solid 1px #FFFFFF;
    color: #040138;
}

.menu-ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@media only screen and (max-width: 905px) {
    .logo {
        border: 0;
        padding: 1.5rem 0;
    }
    .header-top {
        height: auto;
    }
    .header-right {
        top: 1rem;
        right: 1rem
    }
    .header-user-name {
        margin: 0;
    }
    .header-left {
        width: 100%;
    }
    .nav-link {
        padding: 1.5rem 0 1rem 0;
    }
    .top-content-options {
        padding: .5rem 0;
    }
}
/**** Header ****/

/**** Footer ***/
footer {
    height: 5rem;
    margin-top: 3rem;
}

.footer-logo svg {
    height: 2rem;
}

.footer-link {

    padding: 0 1rem;
}

.footer-link a,
.footer-link a:hover {
    font-size: .875rem;
    color: #646464;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-copyright {
    font-size: .75rem;
}

@media only screen and (max-width: 900px) {

    footer.container {
        height: auto;
        padding: 1rem 0;
    }

    .footer-links {
        padding: 1rem 0;
    }

    .footer-link {
        padding: .5rem 0;
        width: 50%;
        text-align: center;
    }

}
/**** Footer ***/

/**** Body ****/

.main-title {
    font-size: 1.75rem;
    padding: 0;
    margin: 0;
}

.content-header {
    padding: 1.5rem 0;
}

.top-content-options .primary-button {
    margin-left: .5rem;
    border: 0;
}

.img-placeholder {
    width: 36px;
    height: 36px;
    border: solid 2px #707070;
}

@media only screen and (max-width: 905px) {

    .content-header {
        padding: 1rem 0;
    }

}

/**** Body ****/

/*** Table ***/

.tabular-data-top {
    border-radius: 1rem 1rem 0 0;
    padding: 1.5rem;
}

.tabular-data-table {
    width: 100%;
    border-spacing: initial;
    background: #FFFFFF;
    overflow-x: scroll;
}

.alt-bg {
    background: #F2F2F2;
}

.tabular-data-header-cell {
    padding: 1rem;
    font-weight: 500;
    white-space: nowrap;
}

.tabular-data-row {
    height: 3.5rem;
}

.tabular-data-cell {
    padding: 0 1rem;
    white-space: nowrap;
}

.first-cell {
    padding: 0 1rem 0 1.5rem;
}

.end-cell {
    padding: 0 1.5rem 0 1rem;
}

.img-cell {
    width: 5%;
}

.title-cell {
    width: 50%;
}

.product-id-cell {
    width: 10%;
}

.category-cell {
    width: 15%;
}

.rating-cell {
    width: 10%;
}

.price-cell {
    width: 10%;
}

.tabular-data-p {
    margin: 0;
    padding: 0;
}

.tabular-data-bottom {
    border-radius: 0 0 1rem 1rem;
    border-top: solid 1px #F2F2F2;
    padding: 1.5rem;
}

@media only screen and (max-width: 905px) {

    .content-table {
        overflow: scroll;
    }

    .tabular-data-table {
        display: block;
    }

}

/*** Table ***/